<!-- Modal -->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Admin User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
    
            <form action="/admin/request-connect" method="POST" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="subscribe">Subscribe</label>
                        <select id="subscribe" class="form-control subscribe" name="subscribe">
                            <option selected>Choose...</option>
                            <% for(let i = 0; i < subscribe.length; i++ ) {%>
                                <option value="<%= subscribe[i].id %>"><%= subscribe[i].name %></option>
                            <% } %>
                        </select>
                      </div>
                    <div class="form-group">
                        <label for="name">Title</label>
                        <input required name='name' type="text" class="form-control" id="exampleFormControlInput" placeholder="Embed Link name">
                    </div>
                    <div class="form-group">
                        <label for="link">Link</label>
                        <textarea required name="link" type="text" class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Embed Link"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>